.body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(252,141,70,1) 100%);
  .register_form_css{
    background-color: white;
    margin-left: 550px;
    margin-top: 300px;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #ffa500;
    .text_box_css{
      width: 100px;
      height: 25px;
      padding: 5px;
    }
  }
}

.register_redirect{
  margin-left: 10px;
}
