#background{
  height:850px;
  overflow: hidden;
}

.button{
  position: absolute;
  top: 50px;
  right: 50px;
}

.button2{
  position: absolute;
  top: 80px;
  right: 100px;
}

.dont-break-please{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,60,9,1) 52%, rgba(255,211,0,1) 100%);
}
