.intro {
  background-color: #F8F8FF;
  background-image: url(back.jpg); }
  .intro .plane-of-explanation {
    background-color: white;
    margin: 150px;
    padding: 40px; }
    .intro .plane-of-explanation .how-to {
      padding: 20px;
      color: black; }
  .intro .future {
    background-color: white;
    margin: 150px;
    padding: 40px; }
  .intro h1, .intro h2 {
    padding: 20px;
    font-size: 20px;
    font-style: bold; }
  .intro h1 {
    font-size: 30px; }
  .intro p {
    padding: 10px;
    font-size: 15px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: #fff;
  top: 200px; }

#weather_div {
  position: fixed;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 0px; }

#searchbar_div {
  position: fixed;
  z-index: 9;
  text-align: center;
  bottom: 0px;
  width: 500px;
  transition: .3s border-color, .3s background-color, .3s border-bottom;
  background-color: transparent;
  border-color: black;
  border: 0;
  border-bottom: 5px solid;
  color: var(--base-txt);
  font-size: 70px;
  outline: none;
  padding: 0px;
  z-index: 4;
  width: 53%; }

#clock_div {
  position: fixed;
  z-index: 9;
  text-align: center;
  border: 1px solid transparent;
  bottom: 0px;
  left: 195px; }

#grid {
  margin-left: -570px;
  margin-top: -190px;
  position: fixed;
  width: 1140px;
  height: 380px;
  left: 60%;
  top: 50%; }

#grid table tr td a {
  text-shadow: 0px 0px 0 rgba(200, 50, 50, 0.5), 0px 0px 0 rgba(50, 200, 150, 0.5);
  box-shadow: 0px 0px 0 rgba(200, 50, 50, 0.5), 0px 0px 0 rgba(50, 200, 150, 0.5);
  transition: .2s text-shadow, .2s box-shadow, .2s border-bottom;
  border-bottom: 0px solid #c83232;
  background-color: var(--background-alt);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: var(--base-txt);
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 25px;
  height: 100%;
  width: 100%; }

#grid table {
  font-family: 'menlo', sans-serif;
  border-collapse: separate;
  border-spacing: 25px;
  font-size: 12px; }

:root {
  --background-alt: #26221F;
  --background: #211D1B;
  --base-txt: #4D6358; }

.black_text {
  color: black; }

#background {
  height: 850px;
  overflow: hidden; }

.button {
  position: absolute;
  top: 50px;
  right: 50px; }

.button2 {
  position: absolute;
  top: 80px;
  right: 100px; }

#wrapper {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 995px; }

#wrapper h1 {
  margin-top: 50px;
  font-size: 45px;
  color: #0B2161; }

#wrapper h1 a {
  color: #0B2161;
  font-size: 18px; }

#wrapper h2 input[type="submit"] {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 17px; }

#login_form {
  background-color: white;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 320px;
  margin-top: 200px;
  box-shadow: 0px 0px 10px 0px #2E64FE; }

#login_form h1 {
  text-align: center;
  margin: 0px;
  color: #0B2161;
  font-size: 27px;
  margin-bottom: 20px; }

#login_form #login_label {
  color: #0B2161; }

#login_form input[type="text"], input[type="password"] {
  width: 250px;
  height: 40px;
  padding-left: 5px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #2E64FE; }

#login_form input[type="submit"] {
  background-color: #2E64FE;
  color: white;
  border: none;
  border-bottom: 3px solid #0040FF;
  width: 250px;
  height: 45px;
  border-radius: 2px;
  margin-left: -4px;
  margin-top: 5px; }

#login_form #loading_spinner {
  display: none; }

.body {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 14%, #fc8d46 100%); }
  .body .register_form_css {
    margin-left: 550px;
    margin-top: 300px;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #ffa500; }

/*# sourceMappingURL=style.css.map */
