<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="https://start-page-maker.herokuapp.com/app/css/style.css" type="text/css" rel="stylesheet" />
</head>
<script src="https://start-page-maker.herokuapp.com/app/public/auth.js"></script>
<!-- <script src="http://localhost:8088/app/public/auth.js"></script> -->

<body class="body">
  <form class="register_form_css" method="post" id="sign_up">
    <label>Username</label>
    <input class="text_box_css" type="text" name="username" value="username" required/>
    <br/>
    <label>Password:</label>
    <input class="text_box_css" type="password" name="pass1" required/>
    <br/>
    <label>Password (verification):</label>
    <input class="text_box_css" type="password" name="pass2" required/>
    <br/>
    <label>Name:</label>
    <input class="text_box_css" type="text" name="name" value="name" required>
    <br>
    <input type="submit" value="Register" />
  </form>
</body>
