<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<script src="http://localhost:8081/da_ap/public/script.js"></script>

<form id='signUpForm'>
  <div class="form-group">
    <label for="username">username</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" value="<?php echo ($users['username']);?>">
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input name="password" type="text" class="form-control" id="password" placeholder="Enter password" value="<?php echo ($cusers['password']);?>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
